<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=90%, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}">
    <title>about</title>
  </head>
  <body>
    {% extends "navbar.html" %}
    {% block content %}
        <img alt="Picture of inquisitive chickens" src="../static/images/presenting_the_majestic_natasha_twin_and_vimadis.jpg" style="width:25%">
        <img alt="Picture of the cat" src="../static/images/finnyboy.jpg" style="width:15%">
        <img alt="Picture of a myself in a welding hood giving a thumbs up" src="../static/images/optrel.jpg" style="width:25%">
        <h1>About myself</h1>
        <p>Things I like to do:<br>
            <ul>
                <li>Microcontroller programming.</li>
                <li>Computer programming.</li>
                <li>Messing with electronics.</li>
                <li>Writing shell scripts.</li>
                <li>Welding, TIG, MIG, SMAW processes.</li>
                <li>3D Printing useful objects.</li>
                <li>CAD designing useful objects to print out.</li>
                <li>Raising chickens, mostly to eat their eggs.</li>
                <li>Smoke meats with smoker. Pork butt or beef brisket are delicious but usually turkey because it's better for you.</li>
                <li>Troubleshooting computers.</li>
                <li>Troubleshooting computer networks.</li>
                <li>Learn new and useful things to do with computers.</li>
            </ul>
        </p>
        <p>Things I have done for work:<br>
            <ul>
                <li>Audiovisual controls system automation programming.</li>
                <li>Layer 3 switch configuration.</li>
                <li>Write shell scripts (Bash, PowerShell, and Windows Command Processor).</li>
                <li>Diagnosing and repairing LAN networking issues (OSI layers 1,2,3).</li>
                <li>Mantaining, diagnosing, and troubleshooting user level computer hardware and software.</li>
                <li>Endpoint OS and application software deployment.</li>
                <li>Volunteer for special projects because day-to-day work is typically boring.</li>
                <li>Repair and mantain Motorola MC9000 and MC9100 laser scanners.</li>
                <li>Repair and mantain Microplex SOLID F32 and F90HD contiunous feed laser printers.</li>
            </ul>
        </p>
        <p>Places I have worked:
            <ul>
                <li>Barco NV</li>
                <li>Georgia Gwinnett College</li>
                <li>ANConnect</li>
                <li>Office Depot</li>
            </ul>
        </p>
        <p>Positions I have held:
            <ul>
                <li>Technical Services Engineer (Barco)</li>
                <li>Technical Services Specialist (Barco)</li>
                <li>Audio Visual Technician L2 (GGC)</li>
                <li>Support Services Technician L3 (GGC)</li>
                <li>Network Technician L2 (ANConnect)</li>
                <li>Technology Sales Associate (Office Depot)</li>
            </ul>
        </p>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>